@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

*{box-sizing: border-box}

body{font-family: 'Lato';
background-size: cover; }

.container{width: 850px;
height: 550px;
background-color: #4C8ADD;
margin: 0 auto;
text-align: center}

h3{padding: 70px 0 0 30px;
text-transform: uppercase;
letter-spacing: 8px;
font-weight: 12px;
font-size: 13px;
color: #B1CCF0 ;
font-weight: normal;}

h1{font-size: 21px;
color: white;} 
    
form{margin-top: 45px;
width: 581px;
height: 250px;
margin: 0 auto;
float: right;
margin-right: 20px;}    

.pay-master,
.card-number,
.month-cvn{display: block}

input{height: 35px;
background: #5496EF;
padding-left: 20px;
display: flex;
align-items: flex-end}

.pay-master label{width: 50%;}

.card-number input{width: 100%;}

.month-cvn input{width: 48%;}

.button input {width: 100%;}

.robot{width: 360px;
float:left;
margin-top: -120px}


label{display: flex}

.inner-img{font-size: 25px}

.pay-master,
.month-cvn{display: flex}

.month-cvn  input{width: 45%}






