#wrapper{
    Width: 700px;
    Height: 730px;
    Border: 1px solid #000000;
    /*Center the container;*/
    Padding: 10px;
    Background-color: #a6e1ec;

}

img{
    Width: 200px; 
    margin-right: 10px;
    align-content: vertical middle;

}

.text{ color:#2EA620;
       display: inline-block;
       line-height: normal;
       text-align: center;
    }


.pic{
    Width: 520px;
    Padding: 10px;
    Margin-Bottom: 5px;
    Font-Size: 14px;
    Border: 1px solid #000000 }



